<!-- Birds modal -->
<div class="birds-dialog">
    <div class="birds-header">
        <h3>Pick your bird!</h3>
    </div>
    <div class="birds-modal-body">
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/andy-bluebird-flip.svg">
            <p class="bird-name">Andy</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/cole-kakapo-flip.svg">
            <p class="bird-name">Cole</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/david-penguin-flip.svg">
            <p class="bird-name">David</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/harry-day-flip.svg">
            <p class="bird-name">Harry</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/iain-shamathrush-flip.svg">
            <p class="bird-name">Iain</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/olive-day-flip.svg">
            <p class="bird-name">Olive</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/perry-day-flip.svg">
            <p class="bird-name">Perry</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/sahana-day-flip.svg">
            <p class="bird-name">Sahana</p>
        </div>
        <div class="bird-select">
            <img class="player-bird" src="img/sprites/svg/todd-day-flip.svg">
            <p class="bird-name">Todd</p>
        </div>
    </div>


    {{!-- <div class="name-input-element">
        <input type="text" id="player-name-input" placeholder="Your name...">
    </div> --}}
    {{!-- <button type="button" id="confirm-button">
        <p class="confirm-text">Confirm</p>
    </button> --}}

</div>