<div id="birds-dialog">
    <div id="birds-header">
        <h3>Pick your bird!</h3>
    </div>
    <div id="birds-modal-body">
        <div class="bird-select">
            <button type="submit" class="bird-button" id="andy-bird">
                Andy
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="cole-bird">
                Cole
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="david-bird">
                David
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="harry-bird">
                Harry
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="iain-bird">
                Iain
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="olive-bird">
                Olive
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="perry-bird">
                Perry
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="sahana-bird">
                Sahana
            </button>
        </div>
        <div class="bird-select">
            <button type="submit" class="bird-button" id="todd-bird">
                Todd
            </button>
        </div>
    </div>
</div>