<div class="high-score">
  <!-- <img class="player-bird" src="{{bird.svg}}"></li> -->
  <i class="fas fa-trophy"></i>
  <p class="player-score">{{score}} -</p>
  <p class="player-name">{{name}}</p>

</div>