<div class="leaderboard-dialog">
    <div class="modal-header">
        <h3>Leaderboard</h3>
    </div>
    <div class="leaderboard-modal-body">
        {{#each leaderboardData}}
            {{> leaderboardPlayer}}
        {{/each}}
    </div>
</div>