<div id="leaderboard-modal" class="hidden">
    <!-- Leaderboard modal-->
    <div class="leaderboard-dialog">

        <div class="modal-header">
            <h3>Leaderboard</h3>
            <button type="button" class="lb-close-button">&times;</button>
        </div>
        <!-- Leaderboard display -->
        <div class="leaderboard-modal-body">

            <!-- leaderboard positions go here -->
            {{#each}}
                {{> leaderboardPlayer}}
            {{/each}}

        </div>
    </div>
</div>