<div id="settings-container" class="settings-screen">
  <h1 id="settings-title" class="settings-screen">
    Birds
  </h1>
  <button type="submit" id="save-button" class="settings-screen">
    Save
  </button>
</div>