<div id="start-container" class="start-screen">
  <h1 id="start-title" class="start-screen">
    Foo Flight
  </h1>

  <div id="leaderboard-modal" class="start-screen">
    {{> leaderboardModal}}
  </div>

  <div id="name-input-element" class="start-screen">
    <label for="name-author-input" class="start-screen">Enter Name:</label>
    <input type="text" id="name-author-input" class="start-screen">
  </div>

  <button type="submit" id="play-button" class="start-screen">
    Play
  </button>
  
</div>